




/*Link Default*/


/*Link Icon*/


/*Link no Icon*/



/*Button Default - Primary*/
.btn-primary,
.btn-primary:active {
    color: #fff;
    background-color: #003366;
	border-style: none;
    border-color: transparent;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;	
}
.btn-primary:hover,
.btn-primary:focus, .btn-primary.focus {
    background-color:  #007b5f;
    border-color: transparent;
}

/*Button Secondary*/
.btn.btn-secondary,
.btn.btn-secondary:active {
    color: #003366;
    background-color: #fff;
	border: 2px solid #003366;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.9em;
	
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus, .btn-secondary.focus {
	background-color:  #007b5f;
	color: #fff;
	border-color: transparent;
	font-weight: 500;
}

/*Button Icon Prefix*/



/*Button Icon Sufix*/


/*Navigation*/

/*Acrescentamos esta classe na contaneir-fluid para que a cor de fundo do primeiro
nível preencha a largura total da página*/
.container-menu-nivel-1 {
    height: 33px;
    background-color: #01426A; 
    position: relative;/*Posicionamos o Logout em relação a esta DIV*/
    z-index: 100; /*Utilizamos o z-index para corrigir o h2 que estava se sobrepondo ao menu*/
    
}

/*Retiramos o padding para ajustar a altura do menu e o alinhamento lateral do menu Mobile*/
.container-menu-nivel-1 .navbar.bg-custon-primary {
    padding: 0rem;
}
/*Alteramos a opacidade para que a cor do menu permaneça branco e customizamos as fontes*/
.container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
    font-weight: bold;
    font-size: 0.9rem;
    padding: 0.35rem 1rem;
}
/*Alteramos a opacidade para que a cor do menu permaneça branco e customizamos a cor de fundo para focus e hover*/
.container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 1);
    background-color: #0067a0;
}

/*Aparencia do menu aberto 1º nível*/
.container-menu-nivel-1 .bg-custon-primary .navbar-collapse.collapse.show {
    background-color: #003366;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.8); /*sombra na versão Mobile*/
    border-radius: 0;
}

@media (min-width: 1200px) {
    /*Posicionamento do traço divisor lateral entre os menus de 1º nível - versão desktop*/
    .container-menu-nivel-1 .bg-custon-primary .navbar-nav > .nav-item > a  {
       position: relative;
    }
    .container-menu-nivel-1 .bg-custon-primary .nav-item >.nav-link:before {
        content: '';
        border-right: 2px solid #fff;
        position: absolute;
        height: 50%;
        right: 0px;
        top: 8px;
    }
    /*Retira o traço divisor lateral do último menu*/
    .container-menu-nivel-1 .bg-custon-primary .navbar-nav > .nav-item:last-of-type >.nav-link:before {
         content: none;
    }
    /*FIM do posicionamento do traço divisor lateral do 1º nível - versão desktop*/
}

/*Aparencia do menu aberto 2º nível*/
.container-menu-nivel-1 .bg-custon-primary .dropdown-menu.show {
    background-color: #e6e6e6;
    border:0;
}
/*Aparencia do menu aberto 2º nível*/
.container-menu-nivel-1 .bg-custon-primary .dropdown-item {
    font-weight: bold;
    color: #003366;
    white-space: nowrap;
    font-size: 0.75rem;
    text-transform: uppercase;
    border-left: 3px solid transparent;
    line-height: 1.2em;
    padding: 8px 20px;
    width: 100%;
}
/*Aparencia do menu aberto 2º nível active e hover*/
.container-menu-nivel-1 .bg-custon-primary .dropdown-item:hover, .bg-custon-primary .dropdown-item:focus, .bg-custon-primary .dropdown-item.active, .bg-custon-primary .dropdown-item:active {
    background-color: #dce1e1;
    border-left: 3px solid #003366;
}

/*NAVBAR MOBILE*/

/*Ícone Menu Mobile (Hamburger)*/

button.navbar-toggler {
    background: transparent;
    position: relative;
    right: 16px;
    height: 38px;
    width: 40px;
    display: block;
    z-index: 26;
    top: 2px;
    margin-top: 0px;
    left: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-toggler-icon  {
    background-image: none;
}

.navbar-toggler .navbar-toggler-icon:before {
    content: '';
    width: 26px;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    bottom: -10px;
    left: 0;
    background-color: #fff;
    transition: all 0.3s linear;
}

.navbar-toggler .navbar-toggler-icon{
    width: 26px;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    top: 15px;
    left: 6px;
    background-color: #fff;
    transition: all 0.3s linear;
}

.navbar-toggler .navbar-toggler-icon:after {
    content: '';
    width: 26px;
    height: 4px;
    position: absolute;
    border-radius: 2px;
    top: -10px;
    left: 0;
    background-color: #fff;
    transition: all 0.3s linear;
}

/* Animação Ícone Menu Mobile Aberto */


.navbar-toggler .navbar-toggler-icon:before {
    -ms-transform: translate(0, -8px) rotate(-45deg);
    -webkit-transform: translate(0, -8px) rotate(-45deg);
    transform: translate(0, -8px) rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon{
    background-color: transparent;
}

.navbar-toggler .navbar-toggler-icon:after {
    -ms-transform: translate(0, 12px) rotate(45deg);
    -webkit-transform: translate(0, 12px) rotate(45deg);
    transform: translate(0, 12px) rotate(45deg);
}

/* Animação Ícone Menu Mobile Fechado */

.navbar-toggler.collapsed .navbar-toggler-icon:before {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler.collapsed .navbar-toggler-icon{
    background-color: #fff; 
}

.navbar-toggler.collapsed .navbar-toggler-icon:after {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
}

/* Fim Menu Mobile (Hamburger) */

/*Aparencia do Hamburger quando o menu está aberto*/
.container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-toggler {
    background-color: #003366;
    border:0;
    box-shadow: -1px 3px 7px 0px rgba(0, 0, 0, 0.5);
    clip-path: inset(-5px -5px 2px -5px);
}
/*Aparencia do Hamburger quando o menu está fechado*/
.container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-toggler.collapsed {
    background-color: #01426A;
    border:0;
    box-shadow: none;
}
/*Alteramos a opacidade para que a cor do hamburger permaneça branco
e aumentamos a espessura da linha do Hamburger*/
.container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


@media (max-width: 1199.98px) {
    /*Acrescentamos esta classe na contaneir-fluid para que a cor de fundo do primeiro
    nível preencha a largura total da página e ajustamos a altura para versão Mobile*/
    .container-menu-nivel-1 {
        height: 2.45rem;
        background-color: #01426A; 
    }
    /*Coloca a linha divisória inferior entre os menus*/
    .container-menu-nivel-1 .navbar-dark.bg-custon-primary .navbar-nav .nav-link {
        border-bottom: 1px solid #fff;
        width: 100%;
        padding: 0.6rem 1rem;
    }
    
    /*Retira alinha divisória do último menu*/
    .container-menu-nivel-1 .bg-custon-primary .navbar-nav > .nav-item:last-of-type >.nav-link {
        border-bottom: 0;
    }
    
    /*Retira a borda do menu de 3º nível do Mobile*/
    .container-menu-nivel-1 .bg-custon-primary .dropdown-menu.show {
        border-radius: 0;
    }
    
    .container-menu-nivel-1 .bg-custon-primary .dropdown-item {
        white-space: normal;  
    }
}

/*MENU DA DIREITA - LOGOUT e VERSÃO*/

/*Alinha o logout em relação a div container-menu-nivel-1*/
.holder-logout {
    position: absolute;
    top:0;
    right: 15px;
    width: auto;
    display: inline-block;
}

/*Alinha o logout em relação a div versao*/
.logout {
    float: left;    
}
.versao {   
    color: #fff;
    font-size: 0.5rem;
    width: auto; /*Em combinação com o display inline-block faz com que ela ocupe somente o espaço de seu conteúdo, 
    sendo então possível flutuar ao lado da div logout */
    display: inline-block; /*Permite que a div corresponda ao tamanho do seu conteúdo junto com a width auto*/
    float: left; /*Alinha a versão em relação a div logout*/
    padding: 5px 5px 0 0;   
}

/*Aparência do botão de LOGOUT*/
.container-menu-nivel-1 .btn.btn-secondary {
    color: #fff;
    background-color: #00b388;
    border: 0;
    border-radius: 0;
    font-weight: bold;
    font-size: 0.9rem;
}
.container-menu-nivel-1 .btn-secondary:hover {
    color: #fff;
    background-color: #007b5f;
    border: 0;
}
.container-menu-nivel-1 .btn-secondary:focus, .btn-secondary.focus {
    box-shadow: none;
}
.container-menu-nivel-1 .btn-secondary:not(:disabled):not(.disabled):active, .container-menu-nivel-1 .btn-secondary:not(:disabled):not(.disabled).active,
.container-menu-nivel-1 .show > .btn-secondary.dropdown-toggle {
    color: #fff;
    background-color: #00b388;
    border: 0;
}
.container-menu-nivel-1 .btn-secondary:not(:disabled):not(.disabled):active:focus, .container-menu-nivel-1 .btn-secondary:not(:disabled):not(.disabled).active:focus,
.container-menu-nivel-1 .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

@media (max-width: 1199.98px) {
    
    .container-menu-nivel-1 .btn-secondary {
        padding-top: 0.53rem;
        padding-bottom: 0.53rem;
    }
    /*FIM da aparência do Botão de Logout*/
    /*Padding da versao em relação ao Mobile*/
    .versao {
        padding-top: 8px; 
    }
}
@media (max-width: 575px) {
    /*Exclusão da div versão para telas pequenas*/
    .versao {
        display: none;
    }
}

/*Estilo do dropdown para o nav-bar e logout*/
.container-menu-nivel-1 .dropdown-menu {
    margin: 0;
    background-color: #e6e6e6;
    font-weight: bold;
    color: #003366;
    white-space: nowrap;/*Esta declaração é interessante para a versão desktop, mas para a versão Mobile deve ser mudada por termos pouco espaço */
    font-size: 0.75rem;
    text-transform: uppercase;
    border: 0;
    border-radius: 0.3rem;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.8);
}
/*Aparencia do menu Logout dropdown*/
.logout .dropdown-item {
    font-weight: bold;
    color: #003366;
    font-size: 0.75rem;
    border-left: 3px solid transparent;
    line-height: 1.2em;
    padding: 8px 20px;
    width: 100%;
}
/*Aparencia do menu logout 2º nível active e hover*/
.logout .dropdown-item:hover, .logout .dropdown-item:focus, .logout .dropdown-item.active, .logout .dropdown-item:active {
    background-color: #dce1e1;
    border-left: 3px solid #003366;
}

@media (max-width: 1199.98px) {
    /*Retira a sombra do hamburger do nav-bar no Mobile e está colocado nesta posição para sobrepor o Logout*/
    .container-menu-nivel-1 .bg-custon-primary .nav-item > .dropdown-menu {
       box-shadow: none!important;
       white-space: normal;
    }
}

/* Tables */

/*TABELAS*/
table.table th {
    color: #003366;
    text-transform: uppercase;
    font: bold 0.95em Arial, "Helvetica Neue", FreeSans, sans-serif;
    padding: 8px;
}
table.table caption {
    text-align: center;
    font: bold 1.45em Arial, "Helvetica Neue", FreeSans, sans-serif;
}
.table.trt3-table-listing th, .table.listing-no-stripes th {
    border: 2px solid #fff;
}
.table.trt3-table-listing td, .table.listing-no-stripes td {
    border: 2px solid #fff;
    background: #f2f2f2;
}
.table.trt3-table-listing tr, .table.listing-no-stripes tr {
    border-top: 5px solid #fff;
    font-size: 0.85rem;
}
.table.trt3-table-listing th, .table.listing-no-stripes th {
    background-color: #003366;
    color: #fff;
    text-transform: uppercase;
    font: bold 0.95em Arial, "Helvetica Neue", FreeSans, sans-serif;
    padding: 12px;
}

.table td, .table th {
    padding: .55rem; 
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.table.trt3-table-listing caption, .table.listing-no-stripes caption {
    background-color: #fff;
    color: #003366;
    text-align: center;
    font: bold 1.2em Arial, "Helvetica Neue", FreeSans, sans-serif;
    /*border-top: 5px solid #003366;*/
    border-bottom: none;
    caption-side: top;
    padding-top: .15rem;
    padding-bottom: .45rem;
}

.table.trt3-table-invisible > tbody > tr > td,
.table.trt3-table-invisible thead > tr > th {
    border-top: none;
    border-bottom: none;
    padding: 8px;
}
.table.table-striped th {
    border: 2px solid #fff;
}
.table-striped > tbody > tr:nth-of-type(odd) td {
    background-color: #dfdfdf;
}
table p {
    margin: 0;
}
table td p {
    margin: 0 0 15px;
}
table thead th a:visited, table thead th a:link,
table thead th p a:visited, table thead th p a:link {
    color: #99ddff;
}
@media (max-width: 767px) {
    .table-responsive > .table > tbody > tr > td,
    .table-responsive > .table > tbody > tr > th,
    .table-responsive > .table > tfoot > tr > td,
    .table-responsive > .table > tfoot > tr > th,
    .table-responsive > .table > thead > tr > td,
    .table-responsive > .table > thead > tr > th {
        white-space: normal !important;
    }
}

/* Header - Default */

/*LOGO DO TOPO*/
/*Inserimos as logos no CSS, porque a versão Mobile é diferente da versão Desktop, que é mais extensa.*/
h1.logo {
    display: block;
    height: 58px;
    width: 401px;
    background: url(../../img/Logo-GECJ-TRT-Topo.svg) no-repeat left top;
    margin: 0.5rem 0;
}
@media (max-width: 575.98px) {
    h1.logo {
        display: block;
        height: 64px;
        width: 245px;
        background: url(../../img/Logo-GECJ-TRT-TopoMobile.svg) no-repeat left top;
    }
}

/* Footer - Default */

/*RODAPÉ*/
/*Envolve a div endereco, a footer-links e a footer-logo*/
.rodape {
    background-color: #003366;
    color: #fff;
    padding: 40px 0;    
}

/*INFORMAÇÕES DE LOCALIZAÇÃO, CONTATO E FUNCIONAMENTO DO TRT*/ 
.endereco {
    font-size: 0.85em;
    border-right: 2px solid #fff; /*Cria uma linha de separação entre o endereço e os links úteis*/
    padding-left: 80px; /*acrescentado para que haja uma boa distância entre a logo nas telas lg, sendo que nas outras resoluções
    será reduzido para 35px. O padding de 35px será mantido por causa dos ícones que estão inseridos antes dos parágrafos. */
}
.endereco p {
    position: relative; /*Serve de base para o position absolute dos ícones dos parágrafos*/
}
/*Posicionamento dos ícones no parágrafo*/
.endereco p i.fa {
    position: absolute;
    font-size: 1.5em; /*tamanho do ícone*/
    left: -21px;
    top: 1px;
}
.endereco p i.fa.fa-map-marker {
    left: -18px;
}
.endereco p i.fa.fa-phone {
    left: -18px;
}
/*Fim do posicionamento dos ícones no parágrafo*/
/*Retira a margin do último parágrafo para que este se alinhe com a linha vertical, inserida na div endereco*/
.endereco  p:nth-of-type(3) {
    margin-bottom: 0px; 
}

/*LINKS ÚTEIS*/
/*Repete todos os links do menu para facilitar o acesso principalmente  na versão Mobile*/
.footer-links {
    font-size: 0.8em;
    padding-left: 90px;/*Aumenta a distancia desta div com a linha vertical */
}
.footer-links ul {
    list-style: none; /*Retira os bullets padrões da lista*/
    padding-left: 0;/*Retira o padding padrão da lista*/
}
.footer-links ul li > ul {
    padding-left: 15px;/*Insere o padding para o segundo nível da lista*/
}
/*Insere o bullet personalizado para a lista*/
.footer-links  ul li:before {
    content: '';
    font-family: 'FontAwesome';
    padding-right: 5px;/*Insere o padding para que o bullet apareça*/
}
.footer-links ul a {
    color: #fff;
}

 /*LOGO DO RODAPE*/
/*Inserimos as logos como background no CSS, porque a versão da Logo do Mobile é diferente da versão Desktop, que é mais larga.*/
/*Alinha o h2 que contém a logo no centro da div*/
.footer-logo {
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}
/*Logo inserida no background para telas grandes*/
h2.logo2 {
    display: inline-block;/*permite que o h2 se centralize na div que o contém*/
    height: 58px;
    width: 387px;
    background: url(../../img/Logo-GECJ-TRT-Rodape.svg) no-repeat left top;
}
@media (max-width: 1199.98px) {
    /*Logo inserida no background para telas menores*/
    h2.logo2 {
        height: 64px;
        width: 245px;
        background: url(../../img/Logo-GECJ-TRT-RodapeMobile.svg) no-repeat left top;
    }
    /*O padding foi diminuido para telas menores*/
    .endereco {
        padding-left: 35px; 
    }
}

@media (max-width: 991.98px) {
    /*Abaixo deste tamanho o conteúdo é centralizado*/
    .rodape {
        text-align: center; 
    }
    .footer-logo {
        text-align: center;
        margin: 0 0 30px;
    }
    .endereco {
        margin: auto;
        width: 360px;
        border-right: none;
        display:inline-block;
        text-align:left;/*Apesar do conteúdo ser centralizado, o texto se mantem a esquerda dentro da div*/
    }
    .footer-links {
        margin: 0 auto;
        width: 340px;
        display: inline-block; /*Retira a linha vertical*/
        padding-left: 0px;/*O padding é zerado pois não existe mais a linha entre as divs*/
        text-align:left;/*Apesar do conteúdo ser centralizado, o texto se mantem a esquerda dentro da div*/
    }
}

@media screen and (max-width: 767px) {
.endereco {
    margin: 0 auto;
    margin-bottom: 30px;/*Necessária para afastar a div footer-links, pois as divs não estão mais dispostas lado a lado*/
    width: auto;
    border-right: none; /*Retira a linha vertical*/
    display:inline-block;/*permite que a div  se centralize na div que a contém*/
    text-align:left;/*Apesar do conteúdo ser centralizado, o texto se mantem a esquerda dentro da div*/
}
.footer-links {
    margin: 0 auto;
    width: auto;
    display: inline-block;/*permite que a div  se centralize na div que a contém*/
    padding-left: 0px;/*O padding é zerado pois não existe mais a linha entre as divs*/
    text-align:left;/*Apesar do conteúdo ser centralizado, o texto se mantem a esquerda dentro da div*/
}   
}

/* END Footer - Default */