

<footer class="rodape">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-4">
        <div class="footer-logo">
          <h2 class="logo2"><span class="sr-only">GECJ - Gratificação por Exercício Cumulativo de Jurisdição / TRT da 3ª Região (MG)</span></h2>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 col-lg-4">
        <div class="endereco">
          <p> <i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Tribunal Regional do Trabalho da 3ª Região</strong> <br>
            Av. Getúlio Vargas, 225 / Funcionários <br>
            Belo Horizonte-MG — CEP: 30112-900 </p>
          <p> <i class="fa fa-clock-o" aria-hidden="true"></i> <strong>Horário de funcionamento</strong> <br>
            8h às 18h <br>
            Atendimento ao público: 9h às 17h </p>
          <p> <i class="fa fa-phone" aria-hidden="true"></i> <strong>Telefones</strong> <br>
            (31) 3228-7388 ou 7450 <br>
            Central de Atendimento: (31) 3228-7000 </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-5 col-lg-4">
        <div class="footer-links"> <strong>Links Rápidos</strong>
          <ul>
            
              
                <li><a href="#">Home</a> </li>
              
            
              
                <li><a href="#">Calcula Mês</a> </li>
              
            
              
                <li><a href="#">Consulta Magistrado</a> </li>
              
            
              
                <li><a href="#">Relatório</a>
                  <ul>
                    
                      <li><a href="#">Histórico</a></li>
                    
                      <li><a href="#">Calcula Passivo</a></li>
                    
                      <li><a href="#">Designações</a></li>
                    
                  </ul>
              
            
              
                <li><a href="#">Gerencial</a>
                  <ul>
                    
                      <li><a href="#">Alterações Atraso Reiterado</a></li>
                    
                  </ul>
              
            
              
                <li><a href="#">Arquivo de Movimentação Processual</a> </li>
              
            
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

