

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Titulo: H4 | [ENTER PROJECT NAME] UI Component Library</title>
    <!-- ENTER STYLESHEETS HERE -->
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom/style.css">
    <link rel="stylesheet" href="../../css/custom/components.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script> 
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/custom/trt3-custom.js"></script>
    <script src="https://kit.fontawesome.com/823c700b5e.js" crossorigin="anonymous"></script>
</head>
<body class="js no-touch preview">
    
    <p>Exemplo:</p>
    <p><h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit</h4></p>

</body>
</html>

