

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Table: Default | [ENTER PROJECT NAME] UI Component Library</title>
    <!-- ENTER STYLESHEETS HERE -->
    <link rel="stylesheet" href="../../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/custom/style.css">
    <link rel="stylesheet" href="../../css/custom/components.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script> 
    <script src="../../js/bootstrap/bootstrap.min.js"></script>
    <script src="../../js/custom/trt3-custom.js"></script>
    <script src="https://kit.fontawesome.com/823c700b5e.js" crossorigin="anonymous"></script>
</head>
<body class="js no-touch preview">
    
    <p>Exemplo:</p>
    <p><div class="table-responsive">
    <table role="grid" class="table table-bordered table-striped trt3-table-listing">
        <thead>
            <tr>
            
                <th>Name</th>
            
                <th>Title</th>
            
                <th>Created by</th>
            
                <th>Created at</th>
            
                <th>Cost</th>
            
            </tr>
        </thead>
        <tbody>
        
            <tr>
            
                <td>Some Thing</td>
            
                <td>Foo</td>
            
                <td>Bilbo Baggins</td>
            
                <td>23 minutes ago</td>
            
                <td>£100.00</td>
            
            </tr>
        
            <tr>
            
                <td>Another Thing</td>
            
                <td>Bar</td>
            
                <td>Frodo Baggins</td>
            
                <td>1 hour ago</td>
            
                <td>£99.00</td>
            
            </tr>
        
            <tr>
            
                <td>Summit Else</td>
            
                <td>Wiz</td>
            
                <td>Gandalf</td>
            
                <td>01/01/2017 08:23 AM</td>
            
                <td>£50.00</td>
            
            </tr>
        
        </tbody>
    </table>
</div></p>

</body>
</html>

